#labtopImage {
    margin-left: 20%;
    width: 70%;
    margin-top: -10%;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#thHeadeing {
    /* border-radius: 20px; */
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 50px !important;
    text-align: center;
    background-color: #8CCEAD;
    font-size: 15px;
    border-radius: 20px;
    /* border-radius: 10px sol; */
}

#thHeadeingA {
    /* border-top-left-radius: 20px; */
    /* border: 1px solid #dddddd; */
    /* text-align: left; */
    /* padding: 8px; */
    /* height: 100px !important; */
    /* text-align: center; */
    background-color: #EFEFEF;
    /* font-size: 15px; */
    /* border-radius: 10px sol; */
}



.about-title {
    text-align: center;
    padding-bottom: 30px;

}

.about-title h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #11366B;
    background: #BAC3CF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    /* height: 50px; */

}

/* .about-title h2 span {
    color: #ffb03b;

} */

.about-title p {
    margin: 15px auto 0 auto;
    font-weight: 400;
    font-size: 18px;
}

@media (min-width: 1024px) {
    .about-title p {
        width: 50%;
    }
}


@media (max-width: 667px) {
    #labtopImage {
        margin-left: 0%;
        width: 100%;
        margin-top: -10%;
    }
  }
  #aboutContain{
    background-color: #EFEFEF;
    border-radius: 20px;
  }