/* 
h1 {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(45deg, #09009f, #32d390 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
/* 
h3 {
  background: radial-gradient(
    circle at -3.1% -4.3%,
    rgb(57, 255, 186) 0%,
    rgb(21, 38, 82) 90%
  );
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
} */

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  /* margin-top: -2%; */
  width: 100%;
  height: 55vh;
  margin-top: 5%;
}

#hero p {
  margin: 0 0 10px 0;
  font-size: 47px;
  font-weight: 700;
  line-height: 56px;
  color: black;
}

#hero h2 {
  color: #484848;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }
  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

#slideImage{
  margin-left: 15%;
}
#ImgeSize{
width: 70%;
}
@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
  }

  #slideImage{
    margin-left: 0%;
  }
  #ImgeSize{
    width: 100%;
    }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}
/*--------------------------------------------------------------
# sponsor
--------------------------------------------------------------*/

/*  */



section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}



.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #11366B;
}
.section-title h2 span {
  color: #ffb03b;
}
.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}