/* nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b2430;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* #navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #17cf97;
} */
/* 
#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  color: #fff;
  align-items: center;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
} */


.navbar {
  background-color: #11366B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  height: 65px;
}


.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.Twonav-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  background-color: #8DCEAD;
  height: 63px;
  font-size: 1.2rem;
  position: sticky;
  /* top: 0; */
  color: #11366B;
  /* opacity: 0.47; */
  position: fixed;
  z-index: 1;
}

#TwoNavText {
  margin-left: 11.5%;
  color: #11366B;
}

.nav-logo {
  color: white;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;

}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: white;
}

.nav-item .active {
  color: white;
  border: 1px solid white;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 1024px) {

  #logo {
      background-color: "red";
      height: 150px;
      margin-left: -8%;
      margin-bottom: -17px;
  }

}

@media screen and (max-width: 960px) {
  .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 129px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
  }

  .nav-menu.active {
      background: #11366B;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
  }

  .nav-item .active {
      color: white;
      border: none;
  }

  .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
  }

  .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: white;
  }

  #logo {
      height: 150px;
      margin-left: -12%;
      margin-bottom: -17px;
  }

  #TwoNavText {
      color: #11366B;
      justify-content: right;
      align-items: right;
      text-align: right;
      margin-left: 28%;
  }
}


/*  */

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  /* min-height: 60vh; */
  /* padding: 50px 0 0px 0; */
  margin-top: 3%;
  background-color: #fcfcfc;
}

.hero h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-secondary);
  font-family: var(--font-primary);
}

.hero h2 span {
  color: var(--color-primary);
}

/* .hero p {
  color: #4f4f5a;
  font-weight: 400;
  margin-bottom: 30px;
} */

.hero .btn-book-a-table {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: var(--color-primary);
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
}

.hero .btn-book-a-table:hover {
  background: rgba(206, 18, 18, 0.8);
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}

.hero .btn-watch-video {
font-size: 16px;
transition: 0.5s;
margin-left: 25px;
color: var(--font-secondary);
font-weight: 600;
}

.hero .btn-watch-video i {
color: var(--color-primary);
font-size: 32px;
transition: 0.3s;
line-height: 0;
margin-right: 8px;
}

.hero .btn-watch-video:hover {
color: var(--color-primary);
}

.hero .btn-watch-video:hover i {
color: rgba(206, 18, 18, 0.8);
}

@media (max-width: 640px) {
  .hero h2 {
      font-size: 36px;
  }

  .hero {
      margin-top: 25%;
  }

  /* .hero .btn-get-started,
  .hero .btn-watch-video {
      font-size: 14px;
  } */
}



.dropbtn {
  color: #012049 !important;
  background: #012049;
  cursor: pointer;
  border: none;
  /* background-color: #4CAF50; */
  /* color: white; */
  /* padding: 16px; */
  /* font-size: 16px; */
}

.dropdown {
  position: relative;
  color: #012049 !important;
  display: inline-block;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff !important;
  /* min-width: 400px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #012049 !important;
}


.dropdown-potfolio {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-Industries {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-potfolio a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;

}

.dropdown-Industries a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

.dropdown-potfolio a:hover {
  background-color: #f1f1f1
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown-Industries a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-potfolio {
  display: block;
}

.dropdown:hover .dropdown-Industries {
  display: block;
}

#services {
  color: #fff;
  text-decoration: none;
}
/*  */